{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Dashboard page</h1>
    <hr>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h4>Total appointments: {{ user.student.appointments.count }}</h4>
    <hr>

    <h3>My appointments</h3>
    <table>
        <thead>
            <tr>
                <th>Lesson</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in  user.student.appointments %}
            <tr>
                <td>{{ appointment.klass.lesson.title }}</td>
                <td>{{ appointment.klass.startDate|date('Y-m-d H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    {% if award %}
            <h3>Award</h3>
            {{ award.text }}
    {% endif %}
</div>

{% endblock %}
